
<div class="statistics-panel statistics-panel--no-justify statistics-panel--no-overflow">
    
    <div class="statistics-panel__title">Latest Journal Entries</div>

    <div class="latest-entries-container">
        {% for entry in latest_entries %}
            <div class="journal-entry">
                <div class="journal-entry__date">{{ entry.date|date:"d/M" }}</div>
                <div class="journal-entry__title">{{ entry.title|truncatechars:70 }}</div>
                <div class="journal-entry__goal">{{ entry.goal|truncatechars:70 }}</div>
            </div>
        {% endfor %}
    </div>

</div>