
<div class="statistics-panel">

    <div class="statistics-panel__title">Successful vs Erroneous vs NotFound Transactions Count (last 30d)</div>
    <canvas id="transactions-successful-vs-not-chart"></canvas>
</div>
