
.journal-entry {
    display: grid;
    grid-template-columns: 70px auto 120px;
    margin-bottom: 5px;
}

.journal-entry:nth-child(even) {
    background-color: #00968811;
}

.journal-entry__date {
    color: #666;
    font-style: italic;
}