.network-stats {

}

.network-stats__line {
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    font-size: 22px;
}

.network-stats__label {
    color: #009688;
    font-style: italic;
    font-weight: bold;
}

.network-stats__value {
    margin-left: 5px;
}

.network-stats__value--alert {
    color: darkred;
}