.check {
    display: grid;
    grid-template-columns: 30px auto auto;
    grid-template-areas: "resulticon consideredtokens otherinfo";
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0px 5px;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    .check {
        grid-template-columns: 30px auto;
        grid-template-rows: auto auto;
        grid-template-areas: "resulticon consideredtokens" "resulticon otherinfo";
        padding: 7px 10px;
        justify-content: space-evenly;
    }

    .check:nth-child(even) {
        background-color: #00968811;
    }
}

.check__considered-tokens {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 55px;
    grid-area: consideredtokens;
}

.check__token-with-amount {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
}

.check__token-logo {
    height:20px;
}

.check__token-name {
    font-style: italic;
}

.check__token-amount {
    margin-left: auto;
}

.check__forecasted-amount {
    font-style: italic;
}


@media screen and (max-width: 1000px) {
    .check__considered-tokens {
        gap: 10px;
    }

    .check__token-with-amount {
        gap: 0;
        width: 90px;
        border: none;
    }

    .check__token-name {
        display: none;
    }
}


.check__error-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    grid-area: resulticon;
}

.check__arrow {
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.667 490.667' style='enable-background:new 0 0 490.667 490.667;' xml:space='preserve'%3E%3Cpath style='fill:%23009688AA;' d='M466.219,237.781L231.552,3.115C229.548,1.115,226.831-0.005,224,0H32 c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l227.136,227.115L24.448,472.448 c-4.171,4.16-4.179,10.914-0.019,15.085c2.006,2.011,4.731,3.139,7.571,3.134h192c2.831,0.005,5.548-1.115,7.552-3.115 l234.667-234.667c4.171-4.16,4.179-10.914,0.019-15.085C466.231,237.794,466.225,237.788,466.219,237.781z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.check__error-icon--error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%23E04F5F;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cg transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 77.26 32)'%3E%3Crect x='3.98' y='-427.615' style='fill:%23FFFFFF;' width='55.992' height='285.672'/%3E%3Crect x='-110.828' y='-312.815' style='fill:%23FFFFFF;' width='285.672' height='55.992'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.check__error-icon--no-error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%2332BEA6;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cpolygon style='fill:%23FFFFFF;' points='235.472,392.08 114.432,297.784 148.848,253.616 223.176,311.52 345.848,134.504 391.88,166.392 '/%3E%3C/svg%3E%0A");
}

.check--executed {
    background-color: #BFEEE6;
}

.check__other-info {
    grid-area: otherinfo;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

.check__time {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    font-style:italic;
}