
<div class="statistics-panel statistics-panel--no-justify statistics-panel--no-overflow">

    <div class="statistics-panel__title">Most Common Check Errors (last 24h)</div>
    
    <div class="common-check-errors">
        {% for entry in common_errors %}
            <div class="common-check-errors__entry">
                <div class="common-check-errors__count">{{ entry.1 }}</div>
                <div class="common-check-errors__text">{{ entry.0 }}</div>
            </div>
        {% endfor %}
    </div>

</div>
