{% load static %}
{% load tz %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'bot/images/favicon.png' %}" sizes="32x32">
        
    <title>Swapper Bot - {% block title %}{% endblock %}</title>    

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'bot/content/shared/fonts.css' %}" />        
        <link rel="stylesheet" type="text/css" href="{% static 'bot/content/shared/shared.css' %}" />        
        <link rel="stylesheet" type="text/css" href="{% static 'bot/content/shared/menu.css' %}" />        
    {% endblock %}
</head>

<body>
   
    <div class="container body-content">
        {% timezone "Europe/Amsterdam" %}

            {% include 'bot/fragments/menu.html' %}            

            {% block content %}
            {% endblock %}
        
        {% endtimezone %}
    </div>

    {% block scripts %}    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>                
    {% endblock %}

</body>
</html>
