{% extends "bot/layout.html" %}
{% load static %}

{% block title %}{{total_owned|floatformat:2}}{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-home/pg-home-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-home/minimal-check-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-home/minimal-transaction-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bot/content/page-home/token-styles.css' %}" />
{% endblock %}

{% block content %}

    <div class="main-container">

        {% include 'bot/panels-home/panel-owned-amount.html' %}
        {% include 'bot/panels-home/panel-profits.html' %}
        {% include 'bot/panels-home/panel-aprs.html' %}
        {% include 'bot/panels-home/panel-wallet.html' %}
        {% include 'bot/panels-home/panel-transactions.html' %}
        {% include 'bot/panels-home/panel-checks.html' %}
        {% include 'bot/panels-home/panel-chart-amount.html' %}

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <script async src="{% static 'bot/scripts/page-home/amount_chart_plotter.js' %}"></script>
    <script async src="{% static 'bot/scripts/page-home/reloader.js' %}"></script>
{% endblock %}