
<div class="home-panel home-panel--no-padding home-panel--h1">
    
    <div class="home-panel__title">Owned Amount (reference: {{initial|floatformat:2}} $)</div>

    <div class="home-panel__text home-panel__text--huge {% if profit_abs > 0 %} home-panel__text--green {% else %} home-panel__text--red {% endif %}">
        {{ total_owned|floatformat:2 }} $        
    </div>

</div>