
<div class="home-panel home-panel--no-padding home-panel--tokens">
    
    <div class="home-panel__title">Owned Tokens</div>

    <div class="tokens-container">
        {% for token in owned_tokens %}
            <div class="token {% if token.adjusted_amount < 5 %} token--dust {% else %} token--non-dust {% endif %}">
                <div class="token__logo">  <img class="token-logo token-logo--medium" src="{{ token.token.logo_uri}}" /> </div>
                <div class="token__symbol">  {{ token.token.symbol}} </div>
                <div class="token__amount"> {{ token.adjusted_amount|floatformat:2 }} </div>
            </div> 
        {% endfor %}
    </div>

</div>