
<div class="home-panel home-panel--no-padding home-panel--tx">
    
    <div class="home-panel__title">Latest Transactions</div>
    <a class="home-panel__link" href="/transactions/">See all transactions</a>

    <div style="margin-top:30px"></div>

    {% for tx in latest_transactions %}
        {% include 'bot/fragments/minimal-transaction.html' %}
    {% endfor %}

</div>