
<div class="home-panel home-panel--no-padding home-panel--h3">

    <div class="home-panel__title">Interest Rates</div>

    <div class="home-panel__text home-panel__text--mid {% if profit_perc > 0 %} home-panel__text--green {% else %} home-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {{ APR|floatformat:2 }} % APR
    </div>

    <div class="home-panel__text home-panel__text--mid {% if profit_perc > 0 %} home-panel__text--green {% else %} home-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {% if APY < 100000 %}        
            {{ APY|floatformat:2 }} 
        {% else %}
            ∞ 
        {% endif %}
        % APY
    </div>
</div>
