
<div class="home-panel home-panel--no-padding home-panel--h2">

    <div class="home-panel__title">Weekly Profits (since {{ initial_date|date:"d/m H:i" }})</div>

    <div class="home-panel__text home-panel__text--big {% if profit_perc > 0 %} home-panel__text--green {% else %} home-panel__text--red {% endif %}"> 
        {% if profit_abs > 0 %}+{% endif %}
        {{ profit_abs|floatformat:2 }} $
    </div>

    <div class="home-panel__text home-panel__text--small {% if profit_perc > 0 %} home-panel__text--green {% else %} home-panel__text--red {% endif %}"> 
        ({% if profit_abs > 0 %}+{% endif %}
        {{ profit_perc|floatformat:2 }} % )
    </div>
</div>
