
<div class="home-panel home-panel--no-padding home-panel--ck">

    <div class="home-panel__title">Latest Checks</div>
    <a class="home-panel__link" href="/checks/">See all checks</a>
    
    <div style="height:30px"></div>

    {% for ck in latest_checks %}
        {% include 'bot/fragments/minimal-check.html' %}    
    {% endfor %}

</div>