
{% url 'home' as home %}
{% url 'statistics' as statistics %}
{% url 'transactions-statistics' as tx_statistics %}
{% url 'admin' as admin %}

<div class="menu">

    <a class="menu__entry {% if home in request.path %} menu__entry--selected {% endif %}" href="{{home}}">
        Home
    </a>

    <a class="menu__entry {% if statistics in request.path %} menu__entry--selected {% endif %}" href='{{statistics}}'>
        Statistics
    </a>

    {% if user.is_authenticated %}
        <a class="menu__entry {% if 'admin' in request.path %} menu__entry--selected {% endif %}" href="/admin/">
            Config
        </a>
    {% endif %}

</div>