
.tokens-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}


@media (max-width: 1000px) {
    .tokens-container {
        justify-content: normal;
    }
}

.token {
    display: grid;
    grid-template-columns: 40px 80px 70px;
    font-size: 18px;
    align-items:center;
    height: 40px;
    width: 50%;
}

.token--dust {
    color: #C0C0C0;
}

.token--dust .token-logo {
    opacity: 0.3;
}

.token__logo {
    padding: 4px;
}

.token__symbol {
    font-style: italic;
}

.token--non-dust .token__amount {
    color: #018E42;
}
